@font-face {
  font-family: myFirstFont;
  src: url(./font/SuperMarioBros-ov7d.ttf);
}

* {
  font-family: myFirstFont;
  letter-spacing: 3px;
}

h2 {
  color: white;
  margin: .5rem;
  text-align: center;
}

.title {
  padding: 1rem 0 0 0;
}

.grow {
  transition: all .2s ease-in-out; 
}

.grow:hover {
  transform: scale(1.1); 
  color: rgba(255, 140, 200, 0.7);
  cursor: pointer;
}

.won {
  background: green;
}

.lost {
  background: #f50a57;
}

.won, .lost {
  margin: 1rem;
  color: white;
  padding: 1rem;
  animation: msg .45s;
  width: 13rem; height: 2rem;
  border-radius: 2rem;
}

.notDone {
  font-size: 0px;
}

@keyframes msg {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes createGameOver {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.rainbow-text-animated {
  background: linear-gradient(to right, #0197D2, gold , crimson, #43AA33, gold);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 3s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

h1 {
  color: rgba(255, 255, 255, 1);
  z-index: 21;
  position:relative;
  text-align: center;
}

.guesses {
  margin: 1rem;
}

.word {
  margin: 2rem 0 0 0;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.letter-btn:hover {
  color: yellow;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}

.shrink {
  transition-duration: 1000ms;
  animation: shrink 1s infinite;
  }

@keyframes shrink {
  from {
      transform: scale(1) rotate(0deg) scale(2, 0.5);;
      left:0px;
    }
    to {
      transform: scale(0.22) rotate(720deg);
      left: 50px;
    }
  }
  .shrink--disappear {
    transition-duration: 1000ms;
    animation: shrink 1s infinite;
    }

    @keyframes shrink--disappear {
      from {
        transform: scale(1);
      }
      to {
        transform: scale(0.00);
      }
    }
  @keyframes lower {
    from {
      transform: translatey(0px);
    }
    to {
      transform: translatey(-300px);
    }
  }

  .reset {
    align-content: center;
  }